<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" href="main.css">
    <title>Fototeca</title>
</head>


<body>

    <header>
        <%- include('./partials/navigation'); %>
    </header>

    <h1>Fototeca</h1>
    <h2>
        <p>
            20 de Enero de 2022
        </p>
    </h2>
    <p>Hasta el momento se han subido <%= numFotos %> fotos</p>

    <form action="/">
        <label for="busquedaTitulo">Nombre:</label>
        <input id="busquedaTitulo" name="busquedaTitulo" type="text">
        <button>Buscar</button>
    </form>
    <form action="/">
        <select name="ordenar" id="ordenar">
            <option value="creciente">Ordenar por antiguedad</option>
            <option value="decreciente" selected>Ordenar por novedad</option>
        </select>
        <button>Ordenar</button>
    </form>

    <ul>
        <% fotos.forEach(function(Imagen) { %>
            <li>
                <div>
                    <img class="foto" src="<%= Imagen.url %>" alt="<%= Imagen.titulo %>">
                    <strong>
                        <%= Imagen.titulo %> - <%= Imagen.fecha %>
                    </strong>
                    <span style="background-color: rgb(<%= Imagen.color %>)">
                        rgb(<%= Imagen.color %>)
                    </span>
                </div>
            </li>
            <% }); %>
    </ul>


    <script src="script.js"></script>
</body>

</html>